.app__list {
  display: flex;
  flex: 1;
  overflow: auto;  
}
.app__list_items {
  width: 100%;
  padding: 10px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.app__list_items li {
  text-align: right;
  width: 100%;
  line-height: 2rem;
  height: 2rem;
  border-bottom: 1px dashed black;
  margin: 5px;
  font-family: "Segment7Standard";
  color: red;
  text-transform: uppercase;
}
