*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, #333, #fff); }

.app {
  height: 500px;
  display: flex;
  width: 800px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 10px black;
  background-image: linear-gradient(to bottom right, #555, white);
  background-size: cover; 
}
